﻿@model cognifide_data_collection.ViewModels.UserFormViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edytuj Użytkownika</h2>

@using (Html.BeginForm("Save", "Home"))
{
    @Html.ValidationSummary(true, "Please fix the following errors.")
    <div class="form-group">
        @Html.LabelFor(m => m.User.Name)
        @Html.TextBoxFor(m => m.User.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.User.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.User.SecondName)
        @Html.TextBoxFor(m => m.User.SecondName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.User.SecondName)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.User.Gender)
        @Html.DropDownListFor(m => m.User.Gender, new List<SelectListItem>{
    new SelectListItem{ Text="M", Value=true.ToString()},
    new SelectListItem{ Text="K", Value=false.ToString()}
}, "Wybierz: ", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.User.Gender)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.User.Birthdate)
        @Html.TextBoxFor(m => m.User.Birthdate, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.User.Birthdate)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.User.Pesel)
        @Html.TextBoxFor(m => m.User.Pesel, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.User.Pesel)
    </div>

    @Html.HiddenFor(m => m.User.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">SAVE</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqeryval")
}
