﻿@model IEnumerable<cognifide_data_collection.Models.User>

@{
    ViewBag.Title = "Użytkownicy";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Nowy Użytkownik", "New", "Home", null, new { @class = "btn btn-primary" })
</p>

@if (!Model.Any())
{
    <p>NIe ma żadnych użytkowników</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Imię</th>
                <th>@Html.ActionLink("Nazwisko", "Index", new { sortOrder = ViewBag.NameSortParm })</th>
                <th>@Html.ActionLink("Data Urodzenia", "Index", new { sortOrder = ViewBag.DateSortParm })</th>
                <th>@Html.ActionLink("Płeć", "Index", new { sortOrder = ViewBag.GenderSortParm })</th>
                <th>PESEL</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var user in Model)
        {
            <tr>

                <td>@Html.ActionLink(user.Name, "Edit", "Home", new { id = user.Id }, null)</td>
                <td>@user.SecondName</td>
                <td>@user.Birthdate.Value.ToShortDateString()</td>
                @if(@user.Gender)
                {
                    <td>MĘŻCZYZNA</td>
                }
                else
                {
                    <td>KOBIETA</td>
                }
                <td>@user.Pesel</td>

            </tr>
           
        }
        </tbody>
    </table>
}
