﻿@model cognifide_data_collection.Models.User
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Nowy Użytkownik</h2>

@using (Html.BeginForm("Save", "Home"))
{
    @Html.ValidationSummary(true, "Please fix the following errors.")
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>   
    
    <div class="form-group">
        @Html.LabelFor(m => m.SecondName)
        @Html.TextBoxFor(m => m.SecondName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.SecondName)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Gender)
        @Html.DropDownListFor(m => m.Gender, new List<SelectListItem>{
            new SelectListItem{ Text="M", Value=true.ToString()},
            new SelectListItem{ Text="K", Value=false.ToString()}
        }, "Wybierz: ", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Gender)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Birthdate)
        @Html.TextBoxFor(m => m.Birthdate, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Birthdate)
    </div>   
    
    <div class="form-group">
        @Html.LabelFor(m => m.Pesel)
        @Html.TextBoxFor(m => m.Pesel, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Pesel)
    </div>

    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">SAVE</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqeryval")
}
